body { background-color: #fafafa; }
main { margin: 60px auto; max-width: 680px; }
h1, h2 { text-align: center; }
main .slider{
	max-width: 680px;
	margin: auto;
}
main h1 {
	font-size: 2.6em;
	margin: 2px;
}
main h2 {
	margin: 2px;
}
main .slider h1{
	font-size: 4em;
	text-align: center;
	padding: 0.2em;
}
main .slider h2{
	font-size: 1.8em;
	text-align: center;
	padding: 0.6em;
}